/cmd/action-dispatcher/action-dispatcher
/cmd/action-worker/action-worker
/cmd/jobs-creator/jobs-creator
/cmd/jobs-watcher/jobs-watcher
/cmd/parsing-dispatcher/parsing-dispatcher
/cmd/parsing-worker/parsing-worker
