/cmd/addition-dispatcher/addition-dispatcher
/cmd/addition-worker/addition-worker
/cmd/addition-worker/worker
/cmd/addition-worker/action.zip
/cmd/jobs-creator/jobs-creator
/cmd/jobs-watcher/jobs-watcher
/cmd/parsing-dispatcher/parsing-dispatcher
/cmd/parsing-worker/parsing-worker
/cmd/parsing-worker/worker
/cmd/parsing-worker/parsing.zip
